<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>customPhotoPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC594E421DA51ED300823047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC594E5B1DA51ED400823047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC594E661DA51ED400823047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
